<div class="container-fluid">
	<app-temp [fromDialog]="false"></app-temp>
	<div class="row first">
		<div class="text text-center">

			<p><strong>Girardota, vereda el limonar, hacienda la Ananda</strong></p>
			<p>
				¡Prepara con tiempo tu transporte, para que puedas disfrutar de la fiesta sin restricción!

			</p>

		</div>

	</div>

	<div class="row second">

		<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
			<div class="carousel-inner">
				<div class="carousel-item  active">
					<img src="../../../assets/img/finca0.jpeg" class="d-block w-100" alt="...">
				</div>
				<div class="carousel-item">
					<img src="../../../assets/img/finca1.jpeg" class="d-block w-100" alt="...">
				</div>
				<div class="carousel-item">
					<img src="../../../assets/img/finca2.jpeg" class="d-block w-100" alt="...">
				</div>
				<!-- <div class="carousel-item">
					<a href="https://goo.gl/maps/nkwEcsQKiVQPpiLP6" target="_blank">
						<img src="../../../assets/img/Fake_Location.jpg" class="d-block w-100" alt="...">
					</a>
				</div> -->
			</div>
			<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
					data-bs-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
					data-bs-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Next</span>
			</button>
		</div>


	</div>

	<div class="row third">


		<div class="text col text-center location">
			<p class="location-title"> Waze</p>
			<a href="https://waze.com/ul/hd34305wmz" target="_blank"><img
					 src="../../../assets/img/waze.png" class="d-block w-100" alt="..."></a>
		</div>
		<div class="text col text-center location">
			<p class="location-title"> Google Maps</p>
			<a href="https://goo.gl/maps/nkwEcsQKiVQPpiLP6" target="_blank"><img
					 src="../../../assets/img/GoogleMaps.png" class="d-block w-100" alt="..."></a>
		</div>
	</div>
</div>