<div class="container-fluid">
	<app-temp [fromDialog]="false"></app-temp>
	<div class="row first">
		<div class="text col-lg-5 text-center">

			<p>Hombres con traje clásico.
			</p>

		</div>
		<div class="img_wrapper col-lg-7">
			<img class="col-lg-7" src="./../../../assets/img/vestuario1.jpeg" alt="">
		</div>
	</div>

	<div class="row second">

		<div class="img_wrapper intermediate-up-img col-lg-7">
			<img src="./../../../assets/img/vestuario2.jpeg" alt="">
		</div>
		<div class="text col-lg-5 text-center">
			<p>Mujeres de vestido largo.
			</p>
		</div>
		<div class="img_wrapper intermediate-down-img col-lg-7">
			<img src="./../../../assets/img/vestuario2.jpeg" alt="">
		</div>

	</div>

	<div class="row third">
		<div class="text col text-center">
			<p>Lo importante es la comodidad para bailarse hasta las propagandas!
			</p>
		</div>

		<!-- <div class="img_wrapper col-lg-7">
			<img src="./../../../assets/img/index.jpg" alt="">
		</div> -->
	</div>
</div>