<div class="container-fluid">

	<app-temp [fromDialog]="false"></app-temp>

	<div class="row first">
		<div class="text col-lg-5 text-center">

			<p>Nos inunda una felicidad completa al saber que encontramos a la persona con la que queremos compartir
				toda nuestra vida, las alegrías, las tristezas y los fracasos; sin embargo, hemos sabido sortear las
				dificultades y por ello queremos sellar nuestro amor junto a ustedes.
			</p>

		</div>
		<div class="img_wrapper col-lg-7">
			<img class="col-lg-7" src="./../../../assets/img/historia1.jpeg" alt="">
		</div>
	</div>

	<div class="row second">

		<div class="img_wrapper intermediate-up-img col-lg-7">
			<img src="./../../../assets/img/historia2.jpg" alt="">
		</div>
		<div class="text col-lg-5 text-center">
			<p>Vamos a comenzar esta aventura con mucha ilusión, emocionados, con alegría y pasión, pero por encima de
				todo con mucho amor y con el mismo ideal con el que comenzamos nuestra historia... Ser felices.
			</p>
		</div>
		<div class="img_wrapper intermediate-down-img col-lg-7">
			<img src="./../../../assets/img/historia2.jpg" alt="">
		</div>

	</div>

	<div class="row third">
		<div class="text col-lg-5 text-center">
			<p>Esperamos vivir mucho tiempo para continuar con nuestros planes y metas, junto a ti, recordaremos ese día
				como uno de los mejores
			</p>
		</div>

		<div class="img_wrapper col-lg-7">
			<img src="./../../../assets/img/historia3.jpg" alt="">
		</div>
	</div>
</div>