<div class="container-fluid">

	<app-temp [fromDialog]="false"></app-temp>

	<div class="row first">
		<div class="text col-lg-5 text-center">

			<p>Después de 6 años, 10 meses y 8 días</p>
			<p>8124 paseos, 1280 comidas, infinitas celebraciones, reuniones, etc.</p>
			<p>Después de dos carreras universitarias. Después de varios trabajos. Después de varias bodas (y ninguna
				era la nuestra). </p>
			<p>Después de escuchar en cada una "¿y ustedes para cuándo?". Después de tantos y tantos
				buenos momentos compartidos y, sobre todo, después de tanta expectativa creada, el gran día llega... ¡y
				estás invitado! ¿Te lo vas a perder?
			</p>

		</div>
		<div class="img_wrapper col-lg-7">
			<div>
				<img class="col-lg-7" src="./../../../assets/img/index.jpg" alt="">
			</div>
		</div>
	</div>


</div>